
/* 
**************************************
    import font web font
**************************************
*/ 
@font-face {
    font-family: "cairo-black";
    font-weight: 900;
    src: local("Open Sans Light"), local("OpenSans-Light"), url(../fonts/Cairo-Black.woff) format("woff");
    font-display: swap;
}
@font-face {
    font-family: "cairo-extrabold";
    font-weight: 800;
    src: local("Open Sans Light"), local("OpenSans-Light"), url(../fonts/Cairo-ExtraBold.woff) format("woff");
    font-display: swap;
}
@font-face {
    font-family: "cairo-bold";
    font-weight: 700;
    src: local("Open Sans Light"), local("OpenSans-Light"), url(../fonts/Cairo-Bold.woff) format("woff");
    font-display: swap;
}
@font-face {
    font-family: "cairo-simebold";
    font-weight: 600;
    src: local("Open Sans Light"), local("OpenSans-Light"), url(../fonts/Cairo-SemiBold.woff) format("woff");
    font-display: swap;
}
@font-face {
    font-family: "cairo-medium";
    font-weight: 500;
    src: local("Open Sans Light"), local("OpenSans-Light"), url(../fonts/Cairo-Medium.woff) format("woff");
    font-display: swap;
}
@font-face {
    font-family: "cairo-regular";
    font-weight: 400;
    src: local("Open Sans Light"), local("OpenSans-Light"), url(../fonts/Cairo-Regular.woff) format("woff");
    font-display: swap;
}
@font-face {
    font-family: "cairo-light";
    font-weight: 300;
    src: local("Open Sans Light"), local("OpenSans-Light"), url(../fonts/Cairo-Light.woff) format("woff");
    font-display: swap;
}
@font-face {
    font-family: "cairo-extralight";
    font-weight: 300;
    src: local("Open Sans Light"), local("OpenSans-Light"), url(../fonts/Cairo-ExtraLight.woff) format("woff");
    font-display: swap;
}


