
/* font clases */
.text-X-Small {
    font-family: var(--cairo-Regular);
    font-size: 13px;

}
.text-XX-Small {
    font-family: var(--cairo-Regular);
    font-size: 12px;

}
.text-small {
    font-family: var(--cairo-Medium);
    font-size: 14px;
}
.text-Small-light {
    font-family: var(--cairo-Bold);
    font-size: 11px;
}
.text-Small-lighter {
    font-family: var(--cairo-Medium);
    font-size: 17px;
}
.text-Small-Bold {
    font-family: var(--cairo-Regular);
    font-size: 14px;
}
.text-Small-regular {
    font-family: var(--cairo-Bold);
    font-size: 12px;
}
.text-Small-Bolder {
    font-family: var(--cairo-Bold);
    font-size: 16px;
}
.text-Small-midium {
    font-family: var(--cairo-Medium);
    font-size: 19px;
}



// size
.icon-size-one {
    font-size: var(--size-icon-one);
}
.icon-size-tow {
    font-size: var(--size-icon-tow);
}

// heigh
.h-100 {
    height: 100%;
}
.w-100 {
    width: 100%;
}
.w-30 {
    width: 30%;
}
.w-40 {
    width: 40%;
}
.w-50 {
    width: 49% !important;
}
.w-60 {
    width: 59% !important;
}
.w-15 {
    width: 15%;
}


