
@media only screen and (max-width: 500px) {
    .logo, 
    .topbar-date, 
    // .order-status,
    // .notefication-icon, 
    .user-info {
        display: none !important; 
    }
    .sm-filter-btn-one {
        width: 100%;
        text-align: center;
    }
    #mobile-icon span {
        width: 31px;
        height: 5px;
        background-color: rgb(0, 0, 0);
        display: block;
        margin: 4px 0px;
        border-radius: 20px;
    }
    .option-one {
       display: none;
    }
    .user-avatar{
        border: 1px solid var(--surface-container);
        border-radius: 6px;
    }
    #toggle-dark-mode {
        margin-right: 16px;
    }
    html[lang="ar"] #toggle-dark-mode {
        margin-left: 16px;
    }
    .expanded {
        display: block !important;
        transition: all .3s ease-in;
    }
    .sidpar {
        display: none;
        position: absolute;
        z-index: 3;
    }
    .buttom-colection-one {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .buttom-colection-one h3 {
        width: 48%;
        
    }
    .number-off {
        justify-content: space-between;
    }
    #details1 li {
        display: flex;
        flex-direction: column-reverse;
        width: 33%;
    }
    .chart-container {
        width: 75%;
        margin-bottom: 15px;
    }
    .number-off .card-one {
        width: 48%;
    }
    .main-menu {
        border-left: 1px solid #ffffffb2;
    }
    .color-option {
        margin: 0px;
    }
    .notefication-icon {
        margin: 0px 0px;
    }
  
    .order-status {
        margin-left: 0px;
    }
    .page-header {
        display: block;
    }
    // .page-headrer-title {
    //     margin-bottom: 10px;
    // }
    .page-headrer-title {
        display: flex;
        justify-content: flex-start;
      }
      .number{
        justify-content: space-between;
      }
      .add-user-box {
        width: 430px !important;
      }
      .page-headrer-button {
        margin-top: 5px;
      }
    // order-detals
    .vh-90 {
        height: 95vh;
        overflow: scroll;
    }
    

    // old order
    .old-order-img-mobile  {
        height: 40px;
        width: 40px;
        display: block;
      }
      .order-number-1 {
        margin-top: 9px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .old-order-img {
        display: none;
      }
      .order-number-1 {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 9px;
      }
      .raing-btn-total {
        margin-top: 9px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .status-tow {
        display: flex;
        flex-wrap: wrap;
        row-gap: 10px;
      }
      .status-tow div {
        width: 49%;
        padding: 10px;
        background-color: var(--surface-dim-tow);
        border-radius: 6px;
        height: 100%;
      }


    //   login page
    .singup-rounded-mobile {
        border-radius: 20px !important;
      }

  .login-page {
    display: flex;
    flex-direction: column;
  }
  .login-image,
  .login-input {
    width: 100%;
    border-radius: 20px 20px 20px 20px;
  }
  .right-content {
    width: 100%;
  }
  .login-image {
    display: none;
  }

  .settings {
    display: block !important;
  }

  html[lang=ar] .login-input {
    border-radius: 20px 20px 20px 20px;
}
}