@media only screen and (max-width: 300px) {

}

@media only screen and (max-width: 980px) {
    td, tr {
        // max-width: 140px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .topbar-date {
        display: none;
    }
    .buttom-colection-one {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 8px;
    }
    .buttom-tow, .buttom-one {
    padding: 16px 3px;
    }
    .buttom-colection-one h3 {
    width: 49%;
    }
    // .notification, .sms {
    //     position: absolute;
    //     top: 58px;
    //     left: -200px;
    //   }
      
     
   
}