
.order-details-box {
  width: 90% !important;
  height: 90vh;
  overflow-y: scroll;
  background-color: rgb(223, 218, 218);
}
.category-rating-box {
  width: 94% !important;
  height: 90vh;
  overflow-y: scroll;
  background-color: rgb(223, 218, 218);
}
.add-items-to-ul ul {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}
.delete-item {
   
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
    border-radius: 30px;
    // background-color: red;
    cursor: pointer;
    margin-left: 7px;
  }
  

  .item-list li {
    display: flex;
    align-items: center;
    background-color: #acafb3;
    width: fit-content;
    padding: 2px 2px;   
    border-radius: 34px;
    border: 1px solid #777373;
    padding-left: 8px;
  }
  .delete-item i {
    font-size: 23px;
  }

  .car-box-three{
    background-color: var(--surface-dim-tow);
    margin-bottom: 15px;
    padding: 9px;
    border-radius: 9px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.14);
  }

/*
* ######################################################
* ### add  tags items
* ######################################################
*/ 
  .mult-select-tag .drawer {
    position: relative;
  }
  .mult-select-tag .body {
    background-color: var(--surface-dim-tow);
    padding: 0px 0px;
    border-radius: 6px;
    border: 1px solid #d2c8c8;
  }
  .mult-select-tag .item-container {
    background-color: #c2c8cead;;
    border: none;
    padding: 7px 6px;
  }
  .item-container i {
    margin-left: 4px;
    cursor: pointer;
  }

  .restrant-cat-icon {
    height: 40px;
    width: 48px;
    background-color: var(--primary-color-Light);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .restrant-cat-supcontent h3 {
    line-height: 21px;
    line-height: 27px;
    display: flex;
    align-items: center;
  }
  .edit-img-icon {
    position: absolute;
    right: 10px;
    top: 8px;
    background-color: #d6dad5;
    padding: 4px 8px;
    border-radius: 9px;
  }
  .checkbox-box span img {
    width: 63px;
  }
  .payment-option, .delivery-option {
    flex-wrap: wrap;
  }
  .delivery-col {
    flex-wrap: wrap;
  }



#qrcode {
  margin-top: 20px;
}
