
/* 
******************************************
    main-menu
************************************  
*/
.active-link-one {
  background-color: rgba(214, 208, 208, 0.55);
  border-radius: 0px 50px 50px 0px;
}
.main-body {
    display: flex;
    min-height: 100vh; /* Full height of the viewport */
}
.main-content {
    flex: 1; /* Takes up the remaining available width */
    // padding: 10px;
    box-sizing: border-box; /* Ensures padding is included in the width */
    background-color: var(--surface-container);
    overflow: hidden;
}
.sidpar {
    width: 210px; /* Fixed width for sidebar */
    background-color: #333;
    color: white;
    box-sizing: border-box;
}
.menu1 {
  // width: 300px;
  height: 90vh;
  overflow: hidden; /* Hide default scrollbars */

}
.main-menu {
    width: 210px;
    background-color: var(--surface-bright);
    height: 100%;
    padding-right: 10px;
  //   overflow: scroll;
  // scrollbar-width: none;
  
}
.main-menu ul {
    padding-top: 15px;
}
.main-menu ul li {
    padding: 10px 15px;
    width: 100%;
}
.main-menu ul li a {
    font-family: var(--cairo-Medium);
    font-size: 16px;
    color: var(--text-color-Normal);
    display: block;
}

/* main connetnt */

.number-off {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 7px;
}
.number-off .card-one {
  flex: 1 1 100px;
}
.card-one {
    /* width: 250px; */
    background-color: var(--surface-bright);
    padding: 8px 6px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    
}
.owl-carousel .item {
    background: #4a90e2;
    padding: 20px;
    border-radius: 3px;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.buttom-colection-one {
  width: 100%;
}

.card-one .image {
    width: 30px;
    height: 30px;
    background-color: var(--icon-background);
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.dropdown-one select {
    background-color: var(--primary-color-Light);
    border: none;
    padding: 7px;
    width: 74px;    
    border-radius: 6px;
    color: var(--primary-color-Normal);
    font-family: var(--cairo-Medium);
    font-size: 14px;
}
.number h3 {
    font-family: var(--cairo-Bold);
    font-size: 14px;
    color: var(--text-color-Dark);
}

// but


.buttom-tow {
  padding: 6px 0px;   
   background-color: var(--secondary-color-Normal);
    color: var(--text-color-light);
    font-family: var(--cairo-Regular);
    font-size: 16px;
    width: 100%;
    display: block;
    // margin: 4px;
    border-radius: 7px;
    text-align: center;
}
#chart {
   
    margin: 0px auto;
}
.chart-one {
    background-color: var(--surface-bright);
    border-radius: 10px;
    height: 100%;
  }
.chart-tow {
    background-color: var(--surface-bright);
    border-radius: 10px;
    border-radius: 10px;
    padding: 10px;
    height: 100%;
  }
  .chart-container {
    width: 84%;
    text-align: center;
    margin: 0px auto;   

  }
  #details1 {
    display: flex;
  }
  #details1 li {
    text-align: center;
    background-color: var(--surface-dim);
    margin: 3px;
    border-radius: 10px;
    height: 70px;
    padding: 11px 0px;
    font-family: var(--cairo-Regular);
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
    // color: var(--text-color-Normal) !important;
  }
  #details2 li {
    display: flex;
    position: relative;
    background-color: #f000 !important;
    padding-left: 27px;
    align-items: center;
    color: var(--text-color-Normal) !important;
  }
  #details3 li {
    display: flex;
    position: relative;
    background-color: #f000 !important;
    padding-left: 27px;
    align-items: center;
    color: var(--text-color-Normal) !important;
  }
  #details4 li {
    display: flex;
    position: relative;
    background-color: #f000 !important;
    padding-left: 27px;
    align-items: center;
    color: var(--text-color-Normal);
  }
  #details2 li .percentage {
    position: absolute;
    right: 0px;
    font-family: var(--cairo-Bold);
    font-size: 14px;
    color: var(--text-color-Dark);
  }
  #details3 li .percentage {
    position: absolute;
    right: 0px;
    font-family: var(--cairo-Bold);
    font-size: 14px;
    color: var(--text-color-Dark);
  }
  #details4 li .percentage {
    position: absolute;
    right: 0px;
    font-family: var(--cairo-Bold);
    font-size: 14px;
    color: var(--text-color-Dark);
  }
  
  .extra-color {
    width: 20px;
    height: 20px;
    left: 0px;
    position: absolute;
    border-radius: 10px;
  }
//   .chart3 {
//     width: 20px;
//     height: 20px;
//     left: 0px;
//     position: absolute;
//     border-radius: 10px;
//   }
.card-one-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.card-one-heading h6 {
    color: var(--text-color-Dark);
    font-family: var(--cairo-Medium);
    font-size: 16px;
}
.cahrt-one-content div {
    margin-right: 20px;
    margin-top: 10px;
}
.cahrt-one-content div h4 {
    font-family: var(--cairo-Bold);
    font-size: 16px;
    margin-right: 10px;


}
.chart {
    padding: 2rem;
    border: 1px solid #f49131;
    border-radius: 1rem;
    background: #251c35;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.8);
}
.card-tow {
    background-color: var(--surface-bright);
    padding: 5px;
  }
.product-one {
    background-color: var(--surface-dim);
    padding: 8px;
    border-radius: 10px;
}
.items-chart {
    width: 100px;
  }
  // .items-image-box-one {
  //   margin-right: 9px;
  // }
  .items-name {
    padding: 0px 10px;
  }
  .itesmss-chart {
    height: 60px;
    // margin-top: -21px;
    position: relative;
  }
  .items-number {
    text-align: end;
    margin-right: 11px;
  }

  .totalSales {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  #chart-2 .apexcharts-xaxis, .apexcharts-yaxis-texts-g, 
  #chart-3 .apexcharts-xaxis, .apexcharts-yaxis-texts-g,
  #chart-4 .apexcharts-xaxis, .apexcharts-yaxis-texts-g ,
  #chart-5 .apexcharts-xaxis, .apexcharts-yaxis-texts-g , 
  #chart-6 .apexcharts-xaxis, .apexcharts-yaxis-texts-g   {
    display: none;
  }
  .unts-modal-box {
      width: 80% !important;
  }

  table.dataTable thead > tr > th.dt-orderable-asc, table.dataTable thead > tr > th.dt-orderable-desc, table.dataTable thead > tr > th.dt-ordering-asc, table.dataTable thead > tr > th.dt-ordering-desc, table.dataTable thead > tr > td.dt-orderable-asc, table.dataTable thead > tr > td.dt-orderable-desc, table.dataTable thead > tr > td.dt-ordering-asc, table.dataTable thead > tr > td.dt-ordering-desc {
    padding-right: 10px;
  }